 /* Universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* navigation */
strong {
  color: #4a4a4a !important;
}

.logo {
  color: #9f9f9f !important;
}

header {
  box-shadow: 1px 1px 4px 0 rgba(64,224,208,0.1);
  Position: relative;
  width: 100%;
  z-index:1;
  height: 64px;
  overflow: hidden;
  color: #4a4a4a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul li {
  float: right;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  float:left;
}

.topnavright a {
  float:left;
}

.topnavright{
  float: right;
}
.normal a:hover {
  color: #d8d8d8;
  transition: color 0.2s ease 0.5s;
}

.logo{
  float: left;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 32px;
}

.logoimage{
  display: inline-block;
  width: 32px;
}

.logoimg {
   display:inline-block;
   vertical-align: middle
}

/* mobile nav*/
@media only screen and (min-width: 600px){
  .responsive {display: none;}
  span .textresp{
    display: flex;
  }
}
@media screen only and (max-width: 600px){
   .responsive {
     display: flex;
     width:50px;}

    .textresp{
      display: none !important;
    }
}

/* Learning */
.learnimg img {
  width: 100%;
  margin: 32px 24px;
  align-items: center;
}

.learnimg {
  flex: 1;
  order:1;
}
.learn {
  color: #4a4a4a;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #d8d8d8;
  align-items:center;
  font-size: 2rem;
  height: 700px;
}

.texttoimg {
  text-align: left;
  flex: 1;
  align-items: center;
  order:1;
  overflow: hidden;
  margin-left: 60px;
}

.texttoimg h3{
  padding: 20px 0;
}


button {
  background-color: #4a4a4a;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button a {
  text-decoration: none;
  color: white;

}
/* Practice */
.practice {
  display: flex;
  align-items: center;
  color:#4a4a4a;
  flex-direction: row;
}

.textimg {
width: 60%;
}

.textimg img{
margin: 32px 24px;
    width: 800px;
}

.heading {
  font-size: 2rem;
  margin: 0 0 24px 24px;
}

.parap{
  margin: 0 0 24px 24px;
}

.parag {
  margin: 0 0 24px 24px;
}

.catalogue {
display: flex;
flex-direction: column;
width: 40%;
margin-top: 10px;
margin-bottom: 30px;


}

.cat1{
display: inline-flex;
border: 1px solid #d8d8d8;
margin-right: 8px;

}

.cat1 img {
  width: 35%;
  height: auto;
  padding: 16px;
}

#oliver {
  background-color: #d8d8d8 !important;
}

.toxt {
  width: 65%;
  padding-top: 60px;
  padding-left: 15px;
}

.toxt h3 {
  padding-bottom: 8px;
  font-size: 1.5rem;
}

.toxt p {
  padding-bottom: 8px;
}

.catalogue a {
  text-decoration: none;
  color: #5e9ae2;
}

/* Start learning */
.learning {
  color: #4a4a4a;
  background-color: #ebecec;
  padding-bottom: 42px;
}

.Learnings {
  margin-right: 72px;
  margin-left: 72px;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 32px;
  align-content: center;
  overflow: visible;
  flex-direction: row;
  flex: 1;
}

.boxes {
background-color: white;
padding-bottom: 24px;
overflow: visible;
flex-basis: 0px;
align-items: center;
flex: 1;
z-index: 3;
justify-content: space-between;
margin: 0 32px 32px 32px; 

}

.boxes img {
  height: auto;
  width: 100%;
}


.txt h1 {
  text-align: center;
  padding: 32px 0;
}

.boxes h3 {
  padding: 16px 16px;
}

.boxes p {
  padding: 8px 16px;
}

.row1 {
  display: flex;
  flex-flow: row;
  height: auto;
    flex-direction: row;
    flex: 1;
}

.row2 {
  display: flex;
    flex-flow: row;
    height: auto;
    flex-direction: row;
    flex: 1;
}
/* Thesis */
.flexting {
  color: #4a4a4a;
  display: flex;

}

.texting2 {
  display: block;
  text-align: center;
  margin: 32px 0;
}


.thesis h2 {
  font-size: 32px;
  text-align: center;
}

video {
  width: 800px;
}
.vidx {
  padding: 0 24 24 24;
  width: 60%;
}


.vidx h3 {
  padding-bottom: 8px;
  padding-top: 24px;
}

.vidx p {
  padding-bottom: 10px;
}

.displays{
  width: 40%;
  flex-direction: row;
}

.box3 {
  background-color:#d8d8d8;


}

.box3 img, .box4 img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.box4, .box3 {
  display: inline-flex;
  margin-right: 5px;
}

.txte {
  width: 65%;
  padding-top: 60px;
}

.txte h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.txta {
  width: 65%;
  padding-left: 12px;
  padding-top: 60px;
}

.txta h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

/* Footer */
.footer {
  color: #4a4a4a;
  border-top: 1px #d8d8d8 solid;
  display: flex;
  margin-bottom: 30px;
}

#right {
  text-align: right;
}

.footer p {
  margin-left: 24px;
  margin-top: 16px;
}
